<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-general" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>¿Ya tienes una cuenta?</ion-label>
        <ion-button shape="round" color="primary" [routerLink]="['/login-general']"
          >Inicia Sesión</ion-button
        >
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input
          id="usuario"
          type="text"
          name="txNombreUsuario"
          [(ngModel)]="registro.nombreUsuario"
          maxLength="100"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input
          id="nombre"
          type="text"
          name="txNombre"
          [(ngModel)]="registro.nombres"
          required
        ></ion-input>
      </ion-item><ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input
          id="apellido"
          type="text"
          name="txApellido"
          [(ngModel)]="registro.apellidos"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input
          id="edad" 
          type="number"
          name="txEdad" 
          [(ngModel)]="registro.edad" 
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input 
          id="correo"
          type="email"
          name="txCorreo" 
          [(ngModel)]="registro.correo" 
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          id="contrasena"
          type="password"
          name="txContrasena"   
          [(ngModel)]="registro.contrasena" 
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">¿Quieres ser conductor?</ion-label>
        <ion-select aria-label="" [(ngModel)]="registro.conductor" name="txConductor">
          <ion-select-option value="1">Si</ion-select-option>
          <ion-select-option value="0">No</ion-select-option>
        </ion-select>        
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" shape="round" (click)="registrar()">Registrarse</ion-button>
  </ion-card>
</ion-content>
