<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login-general" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso Pasajeros</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
          <ion-input
            id="usuario" 
            type="text" 
            [(ngModel)]="usuario"
            maxLength="30" 
            required
          ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            id="password"
            type="password" 
            [(ngModel)]="password" 
            maxLength="20" 
            required
          ></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" (click)="login()">Iniciar sesión<ion-icon name="log-in-outline"></ion-icon></ion-button>
      <ion-button expand="block" shape="round" (click)="registrar()">Registrarse<ion-icon name="person-circle-outline"></ion-icon></ion-button>

      <ion-label class="olvidaste-contrasena">
        <br><a [routerLink]="['/pass-recovery']">¿Olvidaste tu contraseña?</a>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>